<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fact Form</title>
</head>
<body>
    <form action="/facts" method="POST">
        <label for="fact" >Name</label>
        <input type="text" name="name" value="Enter a Name here!"/>
        <label for="Fact">Fact</label>
        <input type="text" name="fact" value="Enter your fact here!">
        <button type="submit">Submit</button>
    </form>
</body>
</html>